@model AzureProject.Models.FPModel
@{
    ViewData["Title"] = "ForgetPassword";
}
<head>
    <style>
    body {
    background-image: url('https://media.istockphoto.com/vectors/spring-background-with-gradient-and-soft-green-sunny-leaf-vector-id1208592742?k=20&m=1208592742&s=612x612&w=0&h=05uoEQpRzfjtFeV_7rCvbGRUMFQQUYRBCfYB2hZ9zRc=');
    background-repeat: no-repeat;
    background-size:cover;
    }
    </style>
</head>
<body>
    <h1>ForgetPassword</h1>
    <div class="row">
    <div class="col-md-4">
        <form asp-action="ForgetPassword2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q1" class="control-label">What is the name of the town where you were born?</label>
                <input asp-for="Q1" class="form-control" />
                <span asp-validation-for="Q1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q2" class="control-label">What was the name of your first school?</label>
                <input asp-for="Q2" class="form-control" />
                <span asp-validation-for="Q2" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</body>
@{
    try
    {
    <label>@TempData["msg"]</label>
    
    }
    catch
    {
    
    }
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
