@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "UI";
}

<head>

    <title>Gift Shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                   <a> <img src="~/Logo.jpg" width="150px" /></a> 
                   <a><img src="https://i.ibb.co/3hZLn7c/Gift-GIF.gif" alt="Gift-GIF" border="0" width="720px" height="100px"></a><br /><a target='_blank'=></a><br />
                </div>
                <nav>
                    <ul id="MenuItems">
                        @*<li> <input class="search" type="text" placeholder="  Search" ></li>
                        *@<li> <a href="MainUI">Home</a></li>
                        <li> <a href="Demo">Products</a></li>
                    </ul>
                </nav>
                <a href="CartIndex"> <img src="~/images/cart.png" width="30px" height="30px"></a>
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Beauty is a fragile Gift<br>Never miss it</h1>
                    <p>It is not the gift but the thought that counts <br>Celebrations are here...! </p>
                    @{
                        var role= HttpContextAccessor.HttpContext.Session.GetInt32("role");
                        if (role == 1)
                        {
                                <a href="Demo" class="btn">Explore Now &#8594;</a>
                        }
                        else if(role == 2)
                        {
                                <a href="Demo" class="btn">Explore Now &#8594;</a>
                        }
                    }
                        </div>
                <div class="col-2">
                    <img src="~/images/image2.png" width="2000">
                </div>
            </div>
    
        </div>
    
    </div>

    <!--- featured category-->
    <div class="categories">
        <div class="small-continer">
            <div class="row">
                <div class="col-3">
                    <img src="~/images/category-1.jpg" alt=""> 
                </div>
                <div class="col-3">
                    <img src="~/images/category-2.jpg" alt=""> 
                </div>
                <div class="col-3">
                    <img src="~/images/category-3.jpg" alt=""> 
                </div>
    
            </div>
        </div>   
    </div>
    <!--- featured products-->
    <!--FOOTER-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App </h3>
                    <p>Download the iOS app now</p>
                    <div class="app-logo">
                        <img src="~/images/app-store.png" alt="">
                    </div>
                </div>

                <div class="footer-col-2">
                    <img src="~/images/Logo.jpg" alt="">
                    <p>Celebrations are here</p>
                    
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links </h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliates</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us  </h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Web Project</p>
        </div>
    </div>

   
</body>
